@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	nav .active {
		@apply text-orange-800 font-semibold;
	}

	a {
		@apply underline;
	}

	nav a {
		@apply no-underline;
	}

	.smallcaps {
		font-variant: small-caps;
	}
}

.toggleSwitch {
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: darkred;
		margin-left: -3px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		transition: .1s;
	}

	input:checked+.slider {
		background-color: rgb(4, 167, 4);
		position: absolute;
	}

	input:checked+.slider:before {
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}

.componentTransition {
	label {
		&:after {
			content: ': ';
		}
	}
	input {
		outline: 1px solid transparent;
		transition: background-color .5s, transform 2s, outline .5s, border-radius 2s;

		&:hover {
			background-color: #ccc;
			outline: 1px solid red;
			transform: translate(5px, 0);
		}

		&:focus {
			background-color: yellow;
			outline: 1px solid #333;
			border-radius: .5rem;
			padding: .3rem;
		}
	}
}